<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Marimba.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Marimba.Properties.Settings>
            <setting name="FileLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="playSounds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="selectCurrentTerm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="signatureName" serializeAs="String">
                <value>*Insert Exec Name Here*</value>
            </setting>
            <setting name="signaturePosition" serializeAs="String">
                <value />
            </setting>
            <setting name="attachSig" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="emailPassword" serializeAs="String">
                <value />
            </setting>
        </Marimba.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
