<!-- Template parameters
    user:         current logged in user, null if none
        user.isAdmin: whether the current user is an admin
        user.name:    name of the current user
    subheadings: array of subheadings of the following format
        subheadings.item.id: html id attribute for the subheading element
        subheadings.item.href: html href attrobute for the subheading element
        subheadings.item.text: text for the subheading element
-->
<div class="header">
    <div class="left">
        <a id="home-link" href="/home">Home</a>
        {if user}
        <a id="membership-link" href="/membership">Membership</a>
        <a id="finance-link" href="/finance">Finance</a>
        {if user.isAdmin}
        <a id="admin-link" href="/admin">Admin</a>
        {/if}
        {/if}
    </div>
    <div class="right">
        {if user}
        <p>Currently logged in as {user.name}</p>
        <a id="logout-link" href="/logout">Logout</a>
        {else}
        <a id="login-link" href="/login">Login</a>
        {/if}
        <a id="about-link" href="/about">About</a>
    </div>
</div>
{if subheadings}
<div class="subheader">
{for subheading in subheadings}
    <a id="{subheading.id}" href="{subheading.href}">{subheading.text}</a>
{/for}
</div>