<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marimba</title>
    <link rel="stylesheet" href="~/css/sidebar.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <div class="wrapper">
        <!--Sidebar-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a class="" asp-area="" asp-controller="Home" asp-action="Members"><img alt="logo" src="~/lib/timp.png" width="200"></a>
            </div>

            <ul class="list-unstyled hover-item">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Members" asp-action="Index">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Finance" asp-action="Index">Finances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Index">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="BandLibrary" asp-action="Index">Band Library</a>
                </li>
            </ul>
        </nav>

        <div class="bar">
        </div>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
