<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Marimba</title>
    <link rel="stylesheet" href="~/css/sidebar.css" />
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />*@
</head>
<body>
    <div class="wrapper">
        <!--Sidebar-->
        <nav id="sidebar">
            <div class="sidebar-header">
                <a class="" asp-area="" asp-controller="Home" asp-action="Members"><img alt="logo" src="~/lib/timp.png" width="200"></a>
            </div>

            <ul class="list-unstyled hover-item">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Members">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Finances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="BandLibrary">Band Library</a>
                </li>
            </ul>

            <iframe class="calendar" src="https://calendar.google.com/calendar/embed?height=240&amp;wkst=1&amp;bgcolor=%23A79B8E&amp;ctz=America%2FToronto&amp;src=c2FtZWVrc2hhbmFpazJAZ21haWwuY29t&amp;src=dGd0bDFqYXRpc2x2a3IxcXYycDRrbDF0M2NAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%230B8043&amp;color=%23EF6C00&amp;showTitle=1&amp;showNav=0&amp;showDate=0&amp;showTabs=0&amp;showTz=0&amp;showCalendars=0&amp;showPrint=0" style="border:solid 1px #777" width="240" height="240" frameborder="0" scrolling="no"></iframe>
        </nav>

        <div class="bar">
        </div>
    </div>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
