<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0" />*@
    @*<title>@ViewData["Title"] | Members - Marimba</title>*@
    <link rel="stylesheet" href="~/css/Members.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>
<body>
    <header>
        <div class="member-header">
            <nav class="navbar-nav">
                <ul class="navbar-list">
                    <li class="header-item">
                        <a class="header-link" asp-area="" asp-controller="Members" asp-action="Attendance">Attendance</a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" asp-area="" asp-controller="Members" asp-action="Directory">Member Directory</a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" asp-area="" asp-controller="Members" asp-action="Rehearsal">Rehearsal Records</a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" asp-area="" asp-controller="Members" asp-action="Drive">Imports from Google Drive</a>
                    </li>
                    <li class="header-item">
                        <a class="header-link" asp-area="" asp-controller="Members" asp-action="Elections">Elections</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section>
        <div class="content-container">

        </div>
    </section>
</body>
</html>
