
@{
    ViewData["Title"] = "Members";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Marimba</title>
    <link rel="stylesheet" href="~/css/Members.css" />
    <link rel="stylesheet" href="~/css/sidebar.css" />
</head>

<body>

    @{ 
        Html.RenderPartial("_MemberNav");
    }
</body>