body {
}

.member-header {
    margin: 0 auto;
    padding: 10px;
    padding-left: 250px;
    align-content: space-between;
}


.navbar-nav {
    /*padding: 10px;*/
    margin-left: 20px;
    background: #F9F4F4;
}

.navbar-list {
    padding: 10px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.navbar-list li:hover {
    box-shadow: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-item {
    padding: 10px;
    display: inline-block;
    font-size: 18px;
    font-family: Arial;
    
    text-align: center;
    flex-grow: 1;
}

.header-link {
    text-decoration: none;
    color: black;
}

.content-container {
    background-color:#F9F4F4;
    height: 90vh;
    margin-left: 270px;
    margin-right: 10px;
    padding: 10px;
}